p{
    font-family: Roboto, Arial;
    margin-top: 0;
    margin-bottom: 0;
}
body{
    margin: 0;
    padding-top: 70px;
    background-color:rgb(251, 250, 250);
    margin-left: 259px;
    
    padding-right:15px;
    
}